{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- About us -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h2 class="text-center">About Pilgrim's Pursuits</h2>
      <div class="mx-auto" style="max-width: 600px;">
        <p>This website was developed by Ashrafur Ahmed as part of the Individual Capstone Project for the AI Augmented Full Stack Web Developer course by Code Institute.
        As such, it should not be relied upon for making informed decisions and may not be updated in the future.</p>
        <p>Welcome to Pilgrim's Pursuits, your comprehensive guide to the sacred journey of Hajj. Our mission is to provide valuable insights, practical tips, and heartfelt reflections to help pilgrims navigate their pilgrimage with ease and confidence. From in-depth articles on historical sites and rituals to personal stories and expert advice, we aim to enrich your spiritual experience and connect you with a community of fellow pilgrims. Join us as we explore the profound significance of Hajj and support each other on this transformative journey of faith and devotion.</p>
      </div>
    </div>
  </div>

  <!-- Contact us -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5">
      <h2 class="text-center">Contact us</h2>
      <p>Do you have ideas you'd like to share on Pilgrim's Pursuits? Want to see posts more relevant to you? We invite you to reach out and connect with us. Leave us a message with your details and let us know how you'd like to collaborate. Your voice matters, and your participation can make a real difference. Let's start a conversation and work together towards common goals. We look forward to hearing from you soon!</p>

      <form method="post">
        {{ collaborate_form | crispy }}
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}