body {
    background-color: #FFFFFF; /* White */
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000; /* Black */
}

.red-o {
    color: #C0A16B; /* Darker beige */
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #FFFFFF; /* White */
}

.dark-bg {
    background-color: #000000; /* Black */
}

.main-bg {
    background-color: #FFFFFF; /* White */
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #C0A16B; /* Darker beige */
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #FFFFFF; /* White */
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #000000; /* Black */
    color: #FFFFFF; /* White */
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #000000; /* Black */
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000000; /* Black */
}

.post-link:hover,
.page-link {
    color: #C0A16B; /* Darker beige */
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #C0A16B; /* Darker beige */
    color: #000000; /* Black */
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #FFFFFF; /* White */
    color: #C0A16B; /* Darker beige */
}

.link {
    color: #C0A16B; /* Darker beige */
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #000000; /* Black */
    text-decoration: underline;
}

.btn-like {
    color: #C0A16B; /* Darker beige */
    border: none;
    background: transparent;
}

.btn-delete {
    color: #FFFFFF; /* White */
    background: #C0A16B; /* Darker beige */
}

.btn-like:hover,
.btn-like:active {
    color: #C0A16B; /* Darker beige */
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}